{% extends "base.html" %}

{% block content %}
<div class="center">
    <h1 class="titulo">Nossos ultimos trabalhos</h1>
    <div class="wrapper_servicos">
        <div class="servico">
            <img src="https://placehold.co/400"  alt="">
            <h2>Nome do serviço</h2>
            <p>Descrição do serviço</p>
        </div><!--servico-->

         <div class="servico">
            <img src="https://placehold.co/400"  alt="">
            <h2>Nome do serviço</h2>
            <p>Descrição do serviço</p>
        </div><!--servico-->

         <div class="servico">
            <img src="https://placehold.co/400"  alt="">
            <h2>Nome do serviço</h2>
            <p>Descrição do serviço</p>
        </div><!--servico-->
    </div><!--wrapper_servicos-->

</div>
<div class="video">
    <video src=""></video>
</div>

{%endblock%}